.listform {
    background-color: #aaa;
    user-select: none;
    :global{
        .adm-radio {
            border-right: 0;
            height: 80px;
            position: relative;
            img {
                width: 80px;
                height: 80px;
            }
            .adm-radio-icon {
                display: block;
                position: absolute;
                width: 80px;
                height: 10px;
                border-radius: 0;
                border: none;
                right:0;
                bottom: 0;

                svg {
                    display: none;
                }
            }
            &.adm-radio-checked {
                .adm-radio-icon {
                    background-color: #f00;
                }
            }
        }
    }
}

.size {
    background-color: rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 10px;
}

.slide {
    width: 200px;
    margin-left: 0px;
}

.formbody {

    :global(.adm-list-body){
        border: none
    }

}

.modulewrap {
    max-height: 50vh;
    overflow: auto;
}