.root {
    position: relative;
    display: inline-block;
}

.pickerwrap {
    position: absolute;
    z-index: 2;
}

.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}