.App {
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: absolute;
  z-index: 5;
  width: 100vw;
}

.menulabel {
  display: block;
  width: 90px;
  margin-right: 10px;
  text-align: right;
}

:root:root {
  --adm-color-primary: #838383;
}

.xiaoshidian {
  font-size: 30px;
  width: 100px;
  background: #000;
  color: #fff;
  padding: 10px 100px;
  border-radius: 20px;
  font-weight: bolder;
}