.App {
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: absolute;
  z-index: 5;
  width: 100vw;
}

.navbar .adm-button{
    padding: 15px;
}

.menulabel {
  display: block;
  width: 90px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.subsetting {
  padding: 10px;
}

:root:root {
  --adm-color-primary: #838383;
}

.xiaoshidian {
  font-size: 50px;
  position: absolute;
  left: 100px;
  width: 150px;
  background: #000;
  color: #fff;
  padding: 10px 100px;
  border-radius: 20px;
  font-weight: bolder;
  user-select: none;
}

.loading{
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 2000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.thumbnail {
  width: 100px;
  height: 100px;
}



